.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    /* min-height: 310px; */
    width: fit-content;
    min-width: 110px;
    padding: 1em;
    margin: 2em;
    background-color: rgb(55, 47, 47, 0.4);
    border-radius: 15%;
    box-shadow: 10px 11px 22px 2px rgba(0, 0, 0, 0.75);
}

.container:hover{
    box-shadow: 10px 11px 22px 2px hsla(132, 100%, 42%, 0.75), -16px -20px 50px 4px rgba(16,204,239,0.99);
    text-shadow: 4px 4px 4px rgba(0,255,47,0.77);  /*#00ff77 */
}

.xButton{
    float: right;
    border: none;
    margin: 0 10px;
    width: fit-content;
    height: fit-content;
    background-color: #00ff77; /* rgb(66, 255, 85);*/
    border-radius: 15%;
    font-weight: bold;
    transition: 0.5s;
}

.xButton:hover{
    cursor: pointer;
    background-color: rgb(79, 255, 66);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}

.cardText{
    font-family: shadowsInto;
    font-size: 3vh;;
    display: inline-flexbox;
}

.cardTitle{
    color: black;
    text-decoration: none;
    font-family: shadowsInto;
    font-size: 5vh;;
}

.imgAvatar{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    box-shadow: 0px 0px 48px 23px rgba(0,255,119,0.75);
    box-sizing: content-box;
    width: 80%;
}

