.container{
    background-color: aquamarine;
    justify-self: center;
    /* position: relative;
    top: 40vh;
    left: 40vh; */
    margin: 2vh;
    padding: 2vh;
    background-color: rgb(55, 47, 47, 0.4);
    border-radius: 15%;
    box-shadow: 10px 11px 22px 2px rgba(0, 0, 0, 0.75);
}

.container:hover{
    box-shadow: 10px 11px 22px 2px hsla(132, 100%, 42%, 0.75), -16px -20px 50px 4px rgba(16,204,239,0.99);
    text-shadow: 4px 4px 4px rgba(0,255,47,0.77);  /*#00ff77 */
}

.xButton{
    justify-self: center;
    border: none;
    margin: 15px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #00ff77; /* rgb(66, 255, 85);*/
    border-radius: 15%;
    font-weight: bold;
    transition: 0.5s;
}

.searchInput{
    border: 0px;
    border-radius: 15px; 
    height: 3vh;
    margin: 5px;
}

.xButton:hover{
    cursor: pointer;
    background-color: rgb(79, 255, 66);
    box-shadow: 6px 7px 22px -3px rgba(0,0,0,0.72);
}
