.searchContainer{
    width: 20%;
    margin-right: 3em;
}

.searchButton{
    background-color: #c6e5db;
    border: 0px;
    border-radius: 0px 15px 15px 0px; 
}

.searchInput{
    background-color: #c6e5db;
    border: 0px;
    border-radius: 15px 0px 0px 15px;
}